body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
    width: 100%;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2em;
}

.zodiac-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.zodiac-btn {
    background-color: #ffffff;
    border: 2px solid #4a90e2;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, border-color 0.3s;
    text-align: center;
}

.zodiac-btn img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.zodiac-btn:hover {
    transform: scale(1.1);
    background-color: #f0f4f8;
    border-color: #357ABD;
}

.selected-signs {
    margin: 20px 0;
    font-size: 1.1em;
    color: #555;
}

#check-compatibility, #check-compatible-signs {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    font-size: 1em;
    font-weight: 600;
}

#check-compatibility:hover {
    background-color: #357ABD;
}

.result {
    font-size: 1.2em;
    color: #4a90e2;
    margin-top: 20px;
}

.choices {
    display:flex;
    flex-direction: column;
}

.choice-button{
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    font-size: 1em;
    font-weight: 600;
}


.option1 {
    display:none;
}

.option2 {
    display: none;
}