body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f9;
    color: #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: scroll;
}

.container {
    background-color: #ffffff;
    margin: 10px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 1500px; 
    width: 100%;
}

.section {
    display: flex;
}

.left-section, .middle-section, .right-section {
    padding: 20px;
    box-sizing: border-box;
}

.left-section {
    width: 40%;
}

.middle-section {
    width: 30%;
}

.right-section {
    width: 30%;
}

h1 {
    color: #4a4a4a;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

h2 {
    color: #4a4a4a;
    font-size: 20px;
    margin-bottom: 15px;
}

.zodiac-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.zodiac-btn {
    background-color: #ffffff;
    border: 2px solid #a8d5e2;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, border-color 0.3s;
    position: relative;
}

.zodiac-btn img {
    width: 80px;
    height: 80px;
}

.zodiac-btn:hover {
    transform: scale(1.1);
    background-color: #e7f2f8;
    border-color: #88b7c5;
}

.zodiac-btn::after {
    content: attr(data-desc);
    position: absolute;
    bottom: 110%; 
    left: 50%;
    transform: translate(-50%, 0);
    white-space: pre-wrap;
    background-color: #e7f2f8;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    width: 200px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.zodiac-btn:hover::after {
    opacity: 1;
}

.choices {
    display: flex;
    flex-direction: column;
}

.choice-button {
    background-color: #a8d5e2;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.choice-button:hover {
    background-color: #88b7c5;
}

.selected-signs {
    margin: 20px 0;
    font-size: 14px;
    color: #555;
}

#check-compatibility, #check-compatible-signs{
    background-color: #a8d5e2;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s;
}

#check-compatibility:hover, #check-compatible-signs:hover, #execute-prolog:hover {
    background-color: #88b7c5;
}

.result {
    font-size: 14px;
    color: #88b7c5;
    margin-top: 20px;
}

.option1, .option2 {
    display: none;
}

#prolog-console {
    width: 100%;
    height: 600px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #a8d5e2;
    border-radius: 8px;
    resize: none;
    background-color: #f7f7f9;
    color: #4a4a4a;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    overflow: scroll;
}

.input{
    display: flex;
    justify-content: space-between;
}

#prolog-command{
    margin-top: 10px;
    padding: 12px;
    border: 2px solid #4a4a4a;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    width: 72%;
    overflow-x: scroll;
}

#execute-prolog {
    background-color: #a8d5e2;
    color: white;
    border: none;
    margin-top: 10px;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    transition: background-color 0.3s;
}